        /* CSS để căn giữa và thiết lập kiểu dáng cho hộp thông báo */
        #error-box {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #f8d7da;
            color: #721c24;
            padding: 20px;
            border: 1px solid #f5c6cb;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        /* CSS cho nút OK */
        #ok-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Để nút OK trở thành một phần tử block */
    margin: 0 auto; /* Canh giữa theo chiều ngang */
}
