@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
      margin-top: -0.3rem;
    }
  }
}

.shopping-cart .def-number-input.number-input {
  border: none;
}

.shopping-cart .def-number-input.number-input input[type="number"] {
  max-width: 2rem;
  border: none;
}

.shopping-cart .def-number-input.number-input input[type="number"].black-text,
.shopping-cart .def-number-input.number-input input.btn.btn-link[type="number"],
.shopping-cart
  .def-number-input.number-input
  input.md-toast-close-button[type="number"]:hover,
.shopping-cart
  .def-number-input.number-input
  input.md-toast-close-button[type="number"]:focus {
  color: #212529 !important;
}

.shopping-cart .def-number-input.number-input button {
  width: 1rem;
}

.shopping-cart .def-number-input.number-input button:before,
.shopping-cart .def-number-input.number-input button:after {
  width: 0.5rem;
}

.shopping-cart .def-number-input.number-input button.minus:before,
.shopping-cart .def-number-input.number-input button.minus:after {
  background-color: #9e9e9e;
}

.shopping-cart .def-number-input.number-input button.plus:before,
.shopping-cart .def-number-input.number-input button.plus:after {
  background-color: #4285f4;
}
